
body{
  margin:0;
  padding:0;
  color: #969CA1;
  font-family: 'Oswald', sans-serif, 300;
  font-weight: lighter;

}

nav img{
  width:40px;
  float: left;
  margin: 3px;
}

header .nav-links img{
  width: 15px;
  float: none;
}

header{
  background:
  linear-gradient(
    rgba(47, 122, 178, 0.65),
    rgba(47, 122, 178, 0.65)
    ),
  url(images/waves.jpg);
}

header, footer{
  display:inline-block;
  width:100%;
  min-height: 600px;
}

h1, h2, header nav, li>a, quote{
  text-transform: uppercase;
  font-family: 'Lato', sans-serif;
  text-decoration: none;
  color:#083452;
}

li>a{
  font-family: 'Oswald', sans-serif;
}

ul{
  list-style-type: none;
  display: inline-block;
  float: right;
}

li{
  display: inline-block;
}

footer nav a{
  font-family: 'Lato', sans-serif;
  text-decoration: none;
  color:white;
  font-weight: lighter;
  text-transform: none;
}

h1{
  color: white;
  font-size: 600%;
  font-weight: 400;
  text-align: center;
  margin-top: 200px;
  margin-bottom: 2px;
}

h2{
  font-size: 350%;
  font-family: 'Oswald', sans-serif;
}

h4{
  margin-top:0;
  text-align: center;
  font-weight: 300;
  color:#233139;
}

quote{
  color: #106DB3;
  font-size: xx-large;
  border-left: 2px solid lightgray;
  margin-left: 10px;
  padding: 10px;
}

.byline, .byline a, .sidebar, .sidebar a, .main a{
  color: #AEBCC7;
}

#ad{
  float: right;
  padding: 10px 0;
}

name, .byline a:visited, .sidebar a:visited, .main a:visited{
  margin-left: 8px;
  color: #0868B0;
}

.byline{
  font-size: 90%;
}

.profile a{
  text-decoration: none;
  padding: 4px;
  font-size: 75%;
}

.profile{
  margin: 20px;
  text-align: center;
}
.byline-image, .profile-image{
  background:
  linear-gradient(
    rgba(47, 122, 178, 0.65),
    rgba(47, 122, 178, 0.65)
    ),
  url("images/daniel.png");
  background-size: cover;
}

.ad{
  background:
  linear-gradient(
    rgba(47, 122, 178, 0.65),
    rgba(47, 122, 178, 0.65)
    ),
  url("images/womanpaddleboard.jpg");
  background-size: cover;
  height: 250px;
}

.byline-image{
  width: 30px;
  height: 30px;
  border-radius: 30px;
  float: left;
}

.byline{
  margin: 10px;
}

.profile-image{
  width: 80px;
  height: 80px;
  border-radius: 80px;
  display: block;
  margin: auto;
}

.name, .sidebar heading, .profile name{
  color: #2477B7;
}

.name, .sidebar heading{
  text-transform: uppercase;
}

section{
  margin-top: 75px;
}

.container{
  width: 75%;
  margin: 0 auto;
}

.main, .sidebar, .branding, .nav-links{
  display: inline-block;
  margin:0 auto;
  vertical-align: top;
}

.sidebar{
  margin-left: 6%;
  margin-top: 40px;
}

.main{
  width: 63%;
}

.main p{
  padding-top:30px;
}

.sidebar{
  width: 28%;
}

nav .container{
  width: 97%;
  margin: 0 auto;
}

.branding{
  width: 65%;
}

.nav-links{
  width: 30%;
  float:right;
}

.posts{
  height: 362px;
}
 .post-link{
   position: relative;
   display: inline-block;
   width: 25%;
   text-decoration: none;
   border: 0;
   margin: 0;
   padding: 0;
   height: 362px;
   background-size: 362px;
 }

.post-link span{
  position:absolute;
  bottom:0;
  left:0;
  border: 0;
  margin: 0;
  padding: 0;
  text-transform: uppercase;
  font-family: 'Oswald', sans-serif;
  text-decoration: none;
  font-size: 250%;
  font-weight: bolder;
  color: #1E3747;
}


footer nav{
  background-color: #1E3747;
  color: white;
  padding: 0 5%;
  vertical-align: top;
}

footer nav a{
  font-family: 'Lato', sans-serif;
  text-decoration: none;
  font-weight: lighter;
  text-transform: none;
  text-align: right;
}

footer nav img{
  width: 80px;
}


footer h2{
  text-align: center;
}

.button{
  display: inline-block;
  height: 30px;
  background-color: #A3B3BF;
  vertical-align: top;
  color: white;
}

.bluebutton{
  background-color: #106DB3;
}

.button img{
  width: 20px;
  margin:5px;
  padding:0;
}

.button-image{
  height: 30px;
  width: 30px;
  background-color: #5E686F;
  padding: 0;
  margin-right:0;
  display: inline-block;
  float: left;
}

.blueimage{
  background-color: #083452;
}

.blackicon img{
  -webkit-filter: invert(100%);
}
.button-text{
  height: 30px;
  padding: 0 10px;
  /*margin:0;*/
  display: inline-block;
}


.link1 {
  background:
    linear-gradient(
        rgba(47, 122, 178, 0.65),
        rgba(47, 122, 178, 0.65)
      ),
    url("images/guywithboard.jpg");
}
.link1:hover {
  background-image:  url("images/guywithboard.jpg");
}

.post-link:hover span{
  color:white;
}

.link2 {
  background:
  linear-gradient(
    rgba(47, 122, 178, 0.65),
    rgba(47, 122, 178, 0.65)
    ),
  url("images/Beer-Flight.jpg");
}

.link2:hover {
  background-image: url("images/Beer-Flight.jpg");
}
.link3{
  background:
  linear-gradient(
    rgba(47, 122, 178, 0.65),
    rgba(47, 122, 178, 0.65)
    ),
  url("images/zachgalifinakis.jpg");
}
.link3:hover{
  background-image: url("images/zachgalifinakis.jpg");
}
.link4{
  background:
  linear-gradient(
    rgba(47, 122, 178, 0.65),
    rgba(47, 122, 178, 0.65)
    ),
  url("images/bottles.jpg");
}
.link4:hover{  background-image: url("images/bottles.jpg");
}

.branding p{
  padding:10px 0;
  margin:0;
}

footer .branding p{
  padding: 30px 0;
}
